<div class="col-md-12">
  <div class="col-md-6">
    <form action="/projects" method="post">
    <button class="btn btn-primary MEGA" type="submit" name="button">Projects</button>
    </form>
  </div>
  <div class="col-md-6">
    <form action="/volunteers" method="post">
    <button class="btn btn-success MEGA" type="submit" name="button">Volunteers</button>
    </form>
  </div>
  <br>
  <hr>
  <br>
  <h1><%= @project[0]['name'] %></h1>
  <h2><%= @project[0]['description']%></h2>
  <br>

  <form action="/project/delete/<%= @project[0]['id']%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" type="submit">Delete Project</button>
  </form>

  <br>
  <a href="/" class="btn btn-info">Home</a>
</div>
