
<div class="col-md-12">
  <div class="col-md-6">
    <form action="/projects" method="post">
    <button class="btn btn-primary MEGA" type="submit" name="button">Projects</button>
    </form>
  </div>
  <div class="col-md-6">
    <form action="/volunteers" method="post">
    <button class="btn btn-success MEGA" type="submit" name="button">Volunteers</button>
    </form>
  </div>
  <br>
  <hr>
  <br>
  <h1><%= @volunteer[0]['name'] %></h1>
  <br>
  <form action="/volunteers" method="post">
  <label for="volunteer_assign">Assign to Project</label>
  <p>will be input bar and logic coming here</p>
  <!-- do drop down, with options each Project. collect id to var project_id in volunteer table. -->
  <br>
  <button class="btn btn-success" type="submit" name="button">Assign Volunteer</button>
  </form>
  <br>
  <form action="/volunteer/delete/<%= @volunteer[0]['id']%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" type="submit">Delete Volunteer</button>
  </form>

  <br>
  <a href="/" class="btn btn-info">Home</a>
</div>
